extends layout

block content
    h1= title
    table
        tr
            th= 'ID'
            th= 'Title'
            th= 'Author'
            th= 'Book Covers'
            th= 'Genre'
        tr
            th= book.id
            th= book.title
            th= book.author
            th: img(src= book.image width="100" height="125")
            th= book.genres
